@import "tailwindcss";
@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

@theme inline {
  /* Tweakcn */
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-info: var(--info);
  --color-info-foreground: var(--info-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-success: var(--success);
  --color-success-foreground: var(--success-foreground);
  --color-warning: var(--warning);
  --color-warning-foreground: var(--warning-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);

  /* Custom */
  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;
  --container-8xl: 112rem;
  --container-9xl: 120rem;
  --container-10xl: 128rem;

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }

  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
}

:root,
.force-light-theme {
  --background: oklch(1 0 0);
  --foreground: oklch(0.3211 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.3211 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.3211 0 0);
  --primary: oklch(0.6231 0.188 259.8145);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.967 0.0029 264.5419);
  --secondary-foreground: oklch(0.4461 0.0263 256.8018);
  --muted: oklch(0.9846 0.0017 247.8389);
  --muted-foreground: oklch(0.551 0.0234 264.3637);
  --accent: oklch(0.9514 0.025 236.8242);
  --accent-foreground: oklch(0.3791 0.1378 265.5222);
  --destructive: oklch(0.6368 0.2078 25.3313);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.9276 0.0058 264.5313);
  --input: oklch(0.9276 0.0058 264.5313);
  --ring: oklch(0.6231 0.188 259.8145);
  --chart-1: hsl(12 76% 61%);
  --chart-2: hsl(173 58% 39%);
  --chart-3: hsl(197 37% 24%);
  --chart-4: hsl(43 74% 66%);
  --chart-5: hsl(27 87% 67%);
  --sidebar: oklch(0.9846 0.0017 247.8389);
  --sidebar-foreground: oklch(0.3211 0 0);
  --sidebar-primary: oklch(0.6231 0.188 259.8145);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.9514 0.025 236.8242);
  --sidebar-accent-foreground: oklch(0.3791 0.1378 265.5222);
  --sidebar-border: oklch(0.9276 0.0058 264.5313);
  --sidebar-ring: oklch(0.6231 0.188 259.8145);
  --font-sans: Inter, sans-serif;
  --font-serif: Source Serif 4, serif;
  --font-mono: JetBrains Mono, monospace;
  --radius: 0.375rem;
  --shadow-x: 0;
  --shadow-y: 1px;
  --shadow-blur: 3px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.1;
  --shadow-color: oklch(0 0 0);
  --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm:
    0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow-md:
    0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 2px 4px -1px hsl(0 0% 0% / 0.1);
  --shadow-lg:
    0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 4px 6px -1px hsl(0 0% 0% / 0.1);
  --shadow-xl:
    0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 8px 10px -1px hsl(0 0% 0% / 0.1);
  --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
  --tracking-normal: 0em;
  --spacing: 0.25rem;

  /* NOWTS */
  --success: hsl(151 55% 41%);
  --success-foreground: hsl(137 72% 94%);
  --warning: hsl(24 94% 50%);
  --warning-foreground: hsl(24 97% 93%);
  --info: hsl(221.2 83.2% 53.3%);
  --info-foreground: hsl(210 40% 98%);
}

.dark {
  --background: oklch(0.2046 0 0);
  --foreground: oklch(0.9219 0 0);
  --card: oklch(0.2686 0 0);
  --card-foreground: oklch(0.9219 0 0);
  --popover: oklch(0.2686 0 0);
  --popover-foreground: oklch(0.9219 0 0);
  --primary: oklch(0.6231 0.188 259.8145);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.2686 0 0);
  --secondary-foreground: oklch(0.9219 0 0);
  --muted: oklch(0.2393 0 0);
  --muted-foreground: oklch(0.7155 0 0);
  --accent: oklch(0.3791 0.1378 265.5222);
  --accent-foreground: oklch(0.8823 0.0571 254.1284);
  --destructive: oklch(0.6368 0.2078 25.3313);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.3715 0 0);
  --input: oklch(0.3715 0 0);
  --ring: oklch(0.6231 0.188 259.8145);
  --chart-1: hsl(220 70% 50%);
  --chart-2: hsl(160 60% 45%);
  --chart-3: hsl(30 80% 55%);
  --chart-4: hsl(280 65% 60%);
  --chart-5: hsl(340 75% 55%);
  --sidebar: oklch(0.2686 0 0);
  --sidebar-foreground: oklch(0.9219 0 0);
  --sidebar-primary: red;
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.3791 0.1378 265.5222);
  --sidebar-accent-foreground: oklch(0.8823 0.0571 254.1284);
  --sidebar-border: oklch(0.3715 0 0);
  --sidebar-ring: oklch(0.6231 0.188 259.8145);
  --font-sans: Inter, sans-serif;
  --font-serif: Source Serif 4, serif;
  --font-mono: JetBrains Mono, monospace;
  --radius: 0.375rem;
  --shadow-x: 0;
  --shadow-y: 1px;
  --shadow-blur: 3px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.1;
  --shadow-color: oklch(0 0 0);
  --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm:
    0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow-md:
    0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 2px 4px -1px hsl(0 0% 0% / 0.1);
  --shadow-lg:
    0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 4px 6px -1px hsl(0 0% 0% / 0.1);
  --shadow-xl:
    0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 8px 10px -1px hsl(0 0% 0% / 0.1);
  --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);

  /* NOWTS */
  --success: hsl(151deg 55% 41.5%);
  --success-foreground: hsl(137 72% 94%);
  --warning: hsl(24deg 94% 50%);
  --warning-foreground: hsl(24deg 97% 93.2%);
  --info: hsl(217.2 91.2% 59.8%);
  --info-foreground: hsl(222.2 47.4% 11.2%);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }

  .typography {
    max-width: 65ch;
    color: var(--color-foreground);
  }
  .typography h1:not(.not-typography h1) {
    scroll-margin: calc(var(--spacing) * 20);
    font-size: var(--text-4xl);
    line-height: var(--text-4xl--line-height);
    font-weight: 800;
    letter-spacing: var(--tracking-tight);
  }
  .typography h2:not(.not-typography h2) {
    scroll-margin: calc(var(--spacing) * 20);
    border-bottom: 1px solid var(--color-border);
    padding-bottom: calc(var(--spacing) * 2);
    font-size: var(--text-3xl);
    line-height: var(--text-3xl--line-height);
    font-weight: 600;
    letter-spacing: var(--tracking-tight);
    margin-top: calc(var(--spacing) * 12);
  }
  .typography h2:not(.not-typography h2):first-child {
    margin-top: 0;
  }
  .typography h3:not(.not-typography h3) {
    scroll-margin: calc(var(--spacing) * 20);
    font-size: var(--text-2xl);
    line-height: var(--text-2xl--line-height);
    font-weight: 600;
    letter-spacing: var(--tracking-tight);
    margin-top: calc(var(--spacing) * 12);
  }
  .typography h3:not(.not-typography h3):first-child {
    margin-top: 0;
  }
  .typography h4:not(.not-typography h4) {
    scroll-margin: calc(var(--spacing) * 20);
    font-size: var(--text-xl);
    line-height: var(--text-xl--line-height);
    font-weight: 600;
    letter-spacing: var(--tracking-tight);
    margin-top: calc(var(--spacing) * 12);
  }
  .typography h4:not(.not-typography h4):first-child {
    margin-top: 0;
  }
  .typography h5:not(.not-typography h5) {
    scroll-margin: calc(var(--spacing) * 20);
    font-size: var(--text-lg);
    line-height: var(--text-lg--line-height);
    font-weight: 600;
    letter-spacing: var(--tracking-tight);
    margin-top: calc(var(--spacing) * 12);
  }
  .typography h5:not(.not-typography h5):first-child {
    margin-top: 0;
  }
  .typography h6:not(.not-typography h6) {
    scroll-margin: calc(var(--spacing) * 20);
    font-size: var(--text-base);
    line-height: var(--text-base--line-height);
    font-weight: 600;
    letter-spacing: var(--tracking-tight);
    margin-top: calc(var(--spacing) * 12);
  }
  .typography h6:not(.not-typography h6):first-child {
    margin-top: 0;
  }
  .typography h1:not(.not-typography h1) + p,
  .typography h2:not(.not-typography h2) + p,
  .typography h3:not(.not-typography h3) + p,
  .typography h4:not(.not-typography h4) + p,
  .typography h5:not(.not-typography h5) + p,
  .typography h6:not(.not-typography h6) + p {
    margin-top: 0;
  }
  .typography p:not(.not-typography p) {
    line-height: 1.75;
  }
  .typography p:not(.not-typography p):not(:first-child) {
    margin-top: calc(var(--spacing) * 6);
  }
  .typography li:not(.not-typography li) {
    line-height: 1.75;
  }
  .typography a:not(.not-typography a) {
    font-weight: 500;
    color: var(--color-primary);
    text-decoration: underline;
    text-underline-offset: var(--spacing);
  }
  .typography blockquote:not(.not-typography blockquote) {
    margin-top: calc(var(--spacing) * 6);
    border-left: 2px solid var(--color-border);
    padding-left: calc(var(--spacing) * 6);
    font-style: italic;
  }
  .typography table:not(.not-typography table) {
    margin-top: calc(var(--spacing) * 6);
    margin-bottom: calc(var(--spacing) * 6);
    width: 100%;
    overflow-y: auto;
  }
  .typography table:not(.not-typography table) thead tr {
    margin: 0;
    border-top: 1px solid var(--color-border);
    padding: 0;
  }
  .typography table:not(.not-typography table) thead tr:nth-child(even) {
    background-color: var(--color-muted);
  }
  .typography table:not(.not-typography table) th {
    border: 1px solid var(--color-border);
    padding: calc(var(--spacing) * 2) calc(var(--spacing) * 4);
    text-align: left;
    font-weight: 700;
  }
  .typography table:not(.not-typography table) th[align="center"] {
    text-align: center;
  }
  .typography table:not(.not-typography table) th[align="right"] {
    text-align: right;
  }
  .typography table:not(.not-typography table) tbody tr {
    margin: 0;
    border-top: 1px solid var(--color-border);
    padding: 0;
  }
  .typography table:not(.not-typography table) tbody tr:nth-child(even) {
    background-color: var(--color-muted);
  }
  .typography table:not(.not-typography table) td {
    border: 1px solid var(--color-border);
    padding: calc(var(--spacing) * 2) calc(var(--spacing) * 4);
    text-align: left;
  }
  .typography table:not(.not-typography table) td[align="center"] {
    text-align: center;
  }
  .typography table:not(.not-typography table) td[align="right"] {
    text-align: right;
  }
  .typography ul:not(.not-typography ul) {
    margin-top: calc(var(--spacing) * 6);
    margin-left: calc(var(--spacing) * 6);
    list-style: disc;
  }
  .typography ul:not(.not-typography ul) > li {
    margin-top: calc(var(--spacing) * 2);
  }
  .typography ul:not(.not-typography ul) p {
    margin-top: 0;
    margin-bottom: 0;
    display: inline;
  }
  .typography ol:not(.not-typography ol) {
    margin-top: calc(var(--spacing) * 6);
    margin-left: calc(var(--spacing) * 6);
    list-style: decimal;
  }
  .typography ol:not(.not-typography ol) > li {
    margin-top: calc(var(--spacing) * 2);
  }
  .typography ol:not(.not-typography ol) p {
    margin-top: 0;
    margin-bottom: 0;
    display: inline;
  }
  .typography pre:not(.not-typography pre) {
    background-color: var(--color-muted);
    border-radius: calc(var(--radius) - 2px);
    padding: calc(var(--spacing) * 4);
    margin-top: calc(var(--spacing) * 6);
    margin-bottom: calc(var(--spacing) * 6);
    font-size: var(--text-sm);
    line-height: var(--text-sm--line-height);
    overflow-y: auto;
  }
  .typography code:not(pre code):not(.not-typography code) {
    position: relative;
    border-radius: var(--radius);
    background-color: var(--color-muted);
    padding: calc(var(--spacing) * 0.2) calc(var(--spacing) * 0.3);
    font-family: var(--font-mono);
    font-size: var(--text-sm);
    line-height: var(--text-sm--line-height);
    font-weight: 600;
  }
  .typography .lead:not(.not-typography .lead) {
    font-size: var(--text-xl);
    line-height: var(--text-xl--line-height);
    color: var(--color-muted-foreground);
  }
  .typography .large:not(.not-typography .large) {
    font-size: var(--text-lg);
    line-height: var(--text-lg--line-height);
    font-weight: 600;
  }
  .typography .small:not(.not-typography .small) {
    font-size: var(--text-sm);
    line-height: 1;
    font-weight: 500;
  }
  .typography .muted:not(.not-typography .muted) {
    font-size: var(--text-sm);
    line-height: var(--text-sm--line-height);
    color: var(--color-muted-foreground);
  }
  .typography img:not(.not-typography img),
  .typography picture:not(.not-typography picture),
  .typography video:not(.not-typography video) {
    margin-top: calc(var(--spacing) * 6);
    margin-bottom: calc(var(--spacing) * 6);
  }
  .typography picture > img:not(.not-typography picture > img) {
    margin-top: 0;
    margin-bottom: 0;
  }
  .typography kbd:not(.not-typography kbd) {
    border-radius: calc(var(--radius) - 2px);
    background-color: var(--color-muted);
    padding: calc(var(--spacing) * 0.5) calc(var(--spacing) * 1.5);
    font-size: var(--text-xs);
    line-height: var(--text-xs--line-height);
    font-weight: 600;
  }
  .typography hr {
    margin-top: calc(var(--spacing) * 10);
    margin-bottom: calc(var(--spacing) * 10);
  }
  .typography dl:not(.not-typography dl) {
    margin-top: calc(var(--spacing) * 6);
    margin-bottom: calc(var(--spacing) * 6);
  }
  .typography dl:not(.not-typography dl) dt {
    font-weight: 600;
    margin-top: calc(var(--spacing) * 6);
    letter-spacing: var(--tracking-tight);
  }
  .typography dl:not(.not-typography dl) dt:first-child {
    margin-top: 0;
  }
  .typography details:not(.not-typography details) {
    margin-top: calc(var(--spacing) * 6);
  }
  .typography details:not(.not-typography details) summary {
    cursor: pointer;
    font-weight: 600;
    margin-top: calc(var(--spacing) * 6);
    letter-spacing: var(--tracking-tight);
  }
  .typography details:not(.not-typography details) p:first-of-type {
    margin-top: calc(var(--spacing) * 2);
  }
  .typography mark:not(.not-typography mark) {
    background-color: var(--color-yellow-300);
  }
  .typography small:not(.not-typography small) {
    font-size: var(--text-xs);
    line-height: 1;
  }

  @media (min-width: 1024px) {
    .typography h1:not(.not-typography h1) {
      font-size: var(--text-5xl);
      line-height: var(--text-5xl--line-height);
    }
  }
}

@layer utils {
  .text-gradient {
    @apply bg-clip-text text-transparent;
  }

  .bg-grid {
    --bg-grid-color: hsl(0 0% 100% / 0.1);
    background-color: transparent; /* Couleur de fond */
    background-image:
      linear-gradient(90deg, var(--bg-grid-color) 1px, transparent 1px),
      linear-gradient(180deg, var(--bg-grid-color) 1px, transparent 1px);
    background-size: 64px 64px; /* Taille de la grille */
  }
}

/* Other styles */

.citation {
  position: relative;
  display: inline-block;
  padding: 4px;
  border-radius: 0.5rem;
  color: var(--foreground);
  font-style: italic;
  --gap: -16px;
}

.citation::before {
  content: "“";
  font-size: 3rem;
  position: absolute;
  top: -12px;
  left: -12px;
  line-height: 1;
  color: hsl(var(--primary));
}

.citation::after {
  content: "”";
  font-size: 3rem;
  position: absolute;
  bottom: -16px;
  right: -4px;
  line-height: 1;
  color: hsl(var(--primary));
}

.citation strong {
  font-weight: 700;
  background: hsl(var(--primary) / 0.5);
  display: inline;
  padding: 2px;
  margin: -2px;
}

.dot-pattern {
  background-color: var(--dot-background);
  opacity: 0.8;
  background-image: radial-gradient(
    var(--dot-color) 0.5px,
    var(--dot-background) 0.5px
  );
  background-size: var(--size, 10px) var(--size, 10px);
}

html.dark .shiki,
html.dark .shiki span {
  color: var(--shiki-dark) !important;
  background-color: var(--shiki-dark-bg) !important;
  /* Optional, if you also want font styles */
  font-style: var(--shiki-dark-font-style) !important;
  font-weight: var(--shiki-dark-font-weight) !important;
  text-decoration: var(--shiki-dark-text-decoration) !important;
}

.prose {
  code:not(pre code) {
    &::after {
      display: none;
    }
    &::before {
      display: none;
    }

    background-color: var(--muted);
    padding: calc(var(--spacing) * 1.5);
    border-radius: var(--radius);
  }
}
.chat-prose {
  h1,
  h2,
  h3 {
    font-size: 1rem !important;
  }
}

.code-example {
  & pre {
    margin: 0 !important;
  }
}

/* NProgress Top Loader */
#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: var(--primary);
  position: fixed;
  z-index: 99999;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
}

#nprogress .peg {
  display: block;
  position: absolute;
  right: 0;
  width: 100px;
  height: 100%;
  box-shadow:
    0 0 10px var(--primary),
    0 0 5px var(--primary);
  opacity: 1;
  transform: rotate(3deg) translate(0px, -4px);
}
